body
        {
            width: 98vw;
            height: 94vh;
            background-color: #B9DEDC;
            font-family: 'Marvel',sans-serif;
        }
header
        {
            text-align: center;
            font-weight: 900;
            font-size: 21px;
        }

datalist 
        {
            color: black;
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 175px;
        }

.espacement_colonnes
        {
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
        }

/* colonne gauche */

.colonne_gauche
        {
            display: flex;
            display: -webkit-flex;
            width: 50%;
            height: 100%;
        }

/* Photo de la terre */

.terre_3d
        {
            display: flex;
            display: -webkit-flex;
            align-content: center;
            width: 800px;
            height: 600px;
            position: relative;
        }

svg
        {
            top: 50%;
            transform: translateY(-50%);
            left: -100px;
            position: absolute;
        }

/* Colonne droite */

.colonne_droite
        {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            text-align: center;
            justify-content: space-between;
            align-items: center;
        }

/* texte curseur */

.div_texte_consigne
        {
            width: 100%;
            margin-bottom: 10px;
        }

.texte_consigne_curseurs
        {
            text-align: center;
            font-weight: normal;
            font-size: 20px;
        }
/* Les sliders */

.emplacement_sliders
        {
            display: flex;
            display: -webkit-flex;
            width: 70%;
            height: 300px;
            border-radius: 7px;
            background: #B9DEDC;
            box-shadow: -9px -9px 19px #d5fffd,
            9px 9px 19px #9dbdbb;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 10px;
        }
#les_sliders_verticaux
        {
            display: flex;
            display: -webkit-flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
        }

/* Texte des jauges*/

.texte_jauge_haut
        {
            top: -50px;
            position: absolute;
        }
.texte_jauge_bas
        {
            position: absolute;
        }

/* Jauge Naissance ou deces */

.input_valeur_content
        {
            display: flex;
            display: -webkit-flex;
            height: 100%;
        }

.naissance_ou_deces
        {
            position: relative;
            text-align: center;
            color: black;
        }

/* Jauge viande ou vege */

.viande_ou_vege
{
    position: relative;
    text-align: center;
    color: black;
}

/* Jauge Energies */

.e_fossile_ou_e_electrique
        {
            position: relative;
            text-align: center;
            color: black;
        }

/* Definitions des jauges verticales*/

input[type=range][orient=vertical]
        {
            writing-mode: bt-lr; /* IE */
            -webkit-appearance: slider-vertical; /* WebKit */
            width: 8px;
            height: 175px;
            padding: 0 5px;
            cursor: pointer;
        }

/*style de l'input*/

input[type=range]::-webkit-slider-runnable-track 
        {
            background: #494949;
            border-radius: 25px;
        }

/* Fin du monde */

.emplacement_fin_du_monde
        {
            display: flex;
            display: -webkit-flex;
            width: 70%;
            justify-content: space-between;
        }
#date_fin_du_monde
        {
            width: 45%;
            height: 60px;
            border-radius: 7px;
            background: #B9DEDC;
            box-shadow: inset 9px 9px 19px #9dbdbb, inset
            -9px -9px 19px #d5fffd;
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
.texte_date_fin_du_monde
        {
            color: white;
            font-size: 50px;
        }

.bouton_fin_du_monde
        {
            width: 45%;
            height: 60px;
            border-radius: 7px;
            background: #B9DEDC;
            box-shadow: -9px -9px 19px #d5fffd,
            9px 9px 19px #9dbdbb;
            display: flex;
            display: -webkit-flex;
            justify-content: center;
        }

/*case population*/

#nombre_population
        {
            width: 70%;
            height: 60px;
            border-radius: 7px;
            background: #B9DEDC;
            box-shadow: inset 9px 9px 19px #9dbdbb, inset
            -9px -9px 19px #d5fffd;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

/*case especes disparues*/

#especes_disparues
        {
            width: 70%;
            height: 60px;
            border-radius: 7px;
            background: #B9DEDC;
            box-shadow: inset 9px 9px 19px #9dbdbb, inset
            -9px -9px 19px #d5fffd;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
.texte_nombre_population
        {
            text-align: center;
            font-size: 40px;
            margin-left: 10px;
            color: white;
        }
.texte_especes_disparues
        {
            text-align: center;
            font-size: 40px;
            margin-left: 10px;
            color: white;
        }

@media screen and (max-width: 1200px)
        {
            .espacement_colonnes
                {
                    display: flex;
                    display: -webkit-flex;
                    flex-wrap: wrap;
                }

            .colonne_gauche
                {
                    display: flex;
                    display: -webkit-flex;
                    width: 100%;
                    height: 100%;
                }

            .colonne_droite
                {
                    display: flex;
                    display: -webkit-flex;
                    flex-direction: column;
                    width: 100% !important;
                    height: 100%;
                    text-align: center;
                    justify-content: space-between;
                    align-items: center;
                }

            .texte_nombre_population
                {
                    text-align: center;
                    font-size: 30px;
                    margin-left: 10px;
                    color: white;
                }

            .texte_especes_disparues
                {
                    text-align: center;
                    font-size: 30px;
                    margin-left: 10px;
                    color: white;
                }
        }