/*  CSS STYLE ECO2 V1 */
body
        {
            margin: 80px;
            background-color: black;
            overflow-y: hidden;
        }

main
        {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
        }

/* Texte des jauges*/

.texte_jauge_haut
        {
            top: -50px;
            position: absolute;
        }
.texte_jauge_bas
        {
            position: absolute;
        }

/* Logo */

.Logo_eco
        {
            width: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
        }

/*Graph*/

#graph
        {
            width: 40%;
            height: 300px;
            background-color: green;
            margin-top: 100px;
        }

/*Bloc annonce fin du monde + Jauges*/

.annonce_sliders_content
        {
            margin-top: 100px;
            width: 100%;
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
        }

/* Definitions des jauges verticales*/

input[type=range][orient=vertical]
        {
            writing-mode: bt-lr; /* IE */
            -webkit-appearance: slider-vertical; /* WebKit */
            width: 8px;
            height: 175px;
            padding: 0 5px;
            cursor: pointer;
        }
#Les_sliders_verticaux
        {
            display: flex;
            display: -webkit-flex;
            justify-content: space-evenly;
            margin-top: 0px;
        }

/* Jauge viande ou vege */

.viande_ou_vege
        {
            position: relative;
            text-align: center;
            color: white;
            z-index: 10;
        }

/* Jauge Naissance ou deces */

.naissance_ou_deces
        {
            position: relative;
            text-align: center;
            color: white;
            z-index: 10;
        }

/* Jauge Energies */

.Efossile_ou_Eelectrique
        {
            position: relative;
            text-align: center;
            color: white;
            z-index: 10;
        }

/* Textes Annonces de fin du monde */

#Texte_annonce_fin_du_monde
        {
            margin-top: 50px;
        }
.texte_fin_du_monde
        {
            color: white;
            text-align: center;
            font-size: 42px;
        }
.annee_fdm
        {
            color: white;
            text-align: center;
        }